/* Inserta tu codigo aqui */
.hero h2 {
    font-size: 18px;
    font-weight: bold;
    color:#000000;
    padding: 50px 0px 10px 0px;
}
.hero .box-uno img {
    background-size: cover;
    height: 470px;
    width: 350px;
    margin-left: 80px;
    margin-bottom: 40px;
    
}

.hero .box-dos img {
    background-size: cover;
    height: 470px;
    width: 350px;
    margin-left: 40px;
    
}
.hero .box-tres img {
    background-size: cover;
    height: 470px;
    width: 350px;
    margin-left: -12px;
    
}
.hero .box-cuatro img {
    background-size: cover;
    height: 470px;
    width: 350px;
    margin-left: 80px;
    
}
.hero .box-cinco img {
    background-size: cover;
    height: 470px;
    width: 350px;
    margin-left: 40px;
    
}
.hero .box-seis img {
    background-size: cover;
    height: 470px;
    width: 350px;
    margin-left: -12px;
    margin-bottom: 70px;
    
}

.hero .box-dos div{
     background-color: black;
    opacity: 0.7;
    color: white;
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 180px;
    left: 80px;
    
    
}
.hero .box-uno div{
     background-color: black;
    opacity: 0.7;
    color: white;
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 180px;
    left: 120px;
}
.hero .box-tres div{
     background-color: black;
    opacity: 0.7;
    color: white;
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 180px;
    left: 30px;
}
.hero .box-cuatro div{
     background-color: black;
    opacity: 0.7;
    color: white;
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 180px;
    left: 120px; 
}
.hero .box-cinco div{
     background-color: black;
    opacity: 0.7;
    color: white;
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 180px;
    left: 80px; 
}
.hero .box-seis div{
     background-color: black;
    opacity: 0.7;
    color: white;
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 180px;
    left: 30px;  
}

.hero .info h4 {
    text-align: center;
    font-size: 16px;
}
.hero .info p{
    text-align: center;
    padding: 3px;
}
.contenido {
    background: url(../img/shoes_1.jpg) no-repeat;
    background-position: right;
    height: 466px;
}
.contenido img{
    position: relative;
    top: -35px;
    left: 10px;
    width: 20px;
}
.contenido .lapiz{
    position: relative;
    top: -105px;
}
.contenido h2 {
    font-weight: bold;
}
.contenido form {
    width: 52%;
    padding: 20px 0 20px 0px;
}
.contenido label {
    font-size: 26px;
    position: absolute;
}
.contenido input, textarea {
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 40px;
    margin: 7px 0;
}
.contenido textarea {
    min-width: 100%;
    max-width: 100%;
    height: 100px;
}
.contenido .send {
    background: #192951;;
    padding: 14px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
