/* Inserta tu codigo que es común para todas las páginas aqui */
* {
    margin: 0;
    padding: 0;
    outline: 1px solid rgba(255,0,0,0.4);
}
.contenedor {
    margin:0px;
    padding-left: 100px;
    padding-right: 100px;
}
header {
    text-align: center;
}
header h1 {
    font-size: 20px;
    font-weight: bold;
}
.nav {
    list-style: none;
}
.nav li {
    display: inline-block;
}
.nav li a {
    padding:10px 25px;
    color:#a0a0a0;
}

footer {
    background: #192951;
    padding: 15px 0 3px 20px;
    color: #fff;
}