/* Inserta tu codigo aqui 
*{
	outline: 1px solid green;
}
*/

/* Creando los menús de navegación */

h1 {
 	font-size: 60px;
 }

header .container a{
	padding: 0 20px 0 20px;
	margin-bottom: 10px;
	font-family: 'Indie Flower', cursive;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
  filter: shadow(color=#999999, direction=135, strength=2);

}



/* Creando el fondo */
.fondo{
	background-image: url("../img/dance_1.jpg");
	height: 500px;
	margin-top: 10px;
}

.studio{
	color:#c3c6c5;
}

.inscribete{
	height: 50px;
	width: 150px;
	background-color: #040e1e;
	background-color:#040e1e;
	border-radius: 5px;
	box-shadow: none;
	margin: 10px 3px ;
}



/* Titulo1 y subtitulo */
.titulo1 {
	font-size: 80px;
}

p {
	font-size: 13px;
}

.textura{
	background-image: url("../img/textura_2.jpg");
	height: 370px; /* Preguntar al profesor */
}

/* Creando el texto con textura1 adentro */

.trayectoria{
	font-size: 25px;
	color: grey;
	padding: 6%
}
.ornamento{
	width: 190px;
	height: 140px;
	position: absolute;
	top:100px;
	left: 470px;
}
.boton2{
	display: block;
	height: 57px;
	width: 300px;
	background-color: #1a2952;
	border-color: #1a2952;
	border-radius: 5px;
	box-shadow: none;
	position: absolute;
	left: 400px;
	top:235px;
	color: white;
}

/*  2*1 fotografias */

.fotohombre{
	background-image: url("../img/instructor_4.jpg");
	height: 300px;
	max-height: 100%;
	background-size: cover;
	border: 1px solid #1a2952;
	
}

.fotobailarina{
	background-image: url("../img/profesor_9.jpg");
	height: 300px;
	max-height: 100%;
	background-size: cover;
	border: 1px solid #1a2952;
}

.boton3{
	display:block;
	width: 470px;
	height: 60px;
	background-color: #1a2952;
	border-color: #1a2952;
	border-radius: 5px;
	box-shadow: none;
	position: absolute;
	position: absolute;
	left: 400px;
	top: 1195px;
	color:#ADADAD;

}

/*  Creando el texto con textura2 adentro */
 
 .textura2{
 	background-image: url("../img/textura_2.jpg");
 	height: 300px;
 }
.ladanza{
	font-size: 35px;
	color: #040404;
	padding:10%;
	text-align: center;
}

/* Creando el Mapa */

.mapa{
	background-color: #1a2952;
}

 .mapita{
	margin: 20px;
	margin-right: -10px;

}
.vistanos1{
	height: 300px;
}
.textorelleno{
	margin-top:60px;
	color: white;
}
.visitanos{
	color:white;
}
.textsmall{
	color:white;
}

/* Formulario de contactos */

.contenido {
    background: url(../img/shoes_1.jpg) no-repeat;
    background-position: right;
    height: 466px;
}
.contenido h2 {
    font-weight: bold;
    position: relative;
    left: 0px;
}
.contenido form {
    width: 52%;
    padding: 20px 0 20px 0px;
}
.contenido label {
    font-size: 26px;
    position: absolute;
}
.contenido input, textarea {
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 40px;
    margin: 7px 0;
}
.contenido textarea {
    min-width: 100%;
    max-width: 100%;
    height: 100px;
}
.contenido .send {
    background: #192951;
    padding: 14px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
.contenido .icono{
	position: relative;
	top:-35px;
	left: 10px;
	width: 20px;
}
.contenido .icono1{
	position: relative;
	top:-105px;
	left: 10px;
	width: 20px;
}


footer {
    background: #192951;
    padding: 15px 0 3px 20px;
    color: #fff;
}