.profesor {
	background-image: url("../img/dance_7.jpg");
	height: 500px;
    max-width: 100%;
}
.sobrenosotros {
	width: 504px;
	height: 193px;
	background-color: black;
	opacity: .5;
	position: absolute;
	left:378px;
	top:104px;
	padding: 29px;
}
.sobrenosotros, p {
	color: white;
	font-size: 20px;


}
.descripcion, p {
	font-size: 13px;
	width: 417px;
	position: absolute;
	left:422px;
	top:187px;
}
.pilares {
	background-image: url("../img/cubes.png");
	height: 336px;
}
.pilar1 {
	color:grey;
	font-size: 20px;
	position: absolute;
	top:94px;
	left: 271px;
}
.linea1 {
	width: 220px;
	height: 1px;
	background-color: grey;
	position: absolute;
	left: 187px;
	top:138px;

}
.linea2 {
	width: 220px;
	height: 1px;
	background-color: grey;
	position: absolute;
	left: 109px;
	top:138px;
}
.linea3 {
	width: 220px;
	height: 1px;
	background-color: grey;
	position: absolute;
	left: 32px;
	top:138px;

}

.textopilares1, p {
	color:grey;
	font-size: 12px;
	width: 223px;
	height: 53px;
	position: absolute;
	left: 187px;
	top:163px;
}
.textopilares2, p {
	color:grey;
	font-size: 12px;
	width: 223px;
	height: 53px;
	position: absolute;
	left: 105px;
	top:163px;
}
.pilar2 {
	color:grey;
	font-size: 20px;
	position: absolute;
	top:94px;
	left: 200px;

}

.pilar3 {
	color:grey;
	font-size: 20px;
	position: absolute;
	top:94px;
	left: 115px;
}
.textopilares3, p {
	color:grey;
	font-size: 12px;
	width: 223px;
	height: 53px;
	position: absolute;
	left: 30px;
	top:163px;
}

/*profesores*/
.instructores {
	margin-top: 96px;
	margin-bottom: 76px;
}

.profe1 {
	background-image: url("../img/profesor_4.jpg");
	height: 176px;
	background-size: cover;
	margin-bottom: 171px;
	display: inline-block;
	border-left:10px solid white;
	border-right: 10px solid white;
	

}
.profe2 {
	background-image: url("../img/profesor_14.jpg");
	height: 176px;
	background-size: cover;
	margin-bottom:171px;
	border-left:10px solid white;
	border-right: 10px solid white;
}
.profe3 {
	background-image: url("../img/profesor_1.jpg");
	height: 176px;
	background-size: cover;
	margin-bottom: 171px;
	border-left:10px solid white;
	border-right: 10px solid white;
}
.profe4 {
	background-image: url("../img/profesor_10.jpg");
	height: 176px;
	background-size: cover;
	margin-bottom: 171px;
	border-left:10px solid white;
	border-right: 10px solid white;
}
.nombreprofe{
	color: black;
	margin-top:21px;
	font-size: 13px;
	font-weight: bolder;
}
.textonombre {
	color: black;
	margin-top: 40px;
}
.profe5 {
	background-image: url("../img/profesor_11.jpg");
	height: 176px;
	background-size: cover;
	display: inline-block;
	margin-bottom: 104px;
	border-left:10px solid white;
	border-right: 10px solid white;
}

.profe6 {
	background-image: url("../img/profesor_12.jpg");
	height: 176px;
	background-size: cover;
	display: block;
	border-left:10px solid white;
	border-right: 10px solid white;
}
.profe7 {
	background-image: url("../img/profesor_9.jpg");
	height: 176px;
	background-size: cover;
	display: block;
	border-left:10px solid white;
	border-right: 10px solid white;
}
.profe8 {
	background-image: url("../img/profesor_15.jpg");
	height: 176px;
	background-size: cover;
	display: block;
	border-left:10px solid white;
	border-right: 10px solid white;
}
/*INSPIRACION*/
.inspiracion {
	background-image: url("../img/cubes.png");
	height: 336px;
}
.frase  {
	font-size: 20px;
	width: 900px;
	font-weight: bolder;
	margin-left: 167px;
}
/*FORMULARIO DE CONTACTO*/
.contactanos {
	background-image: url("../img/shoes_!.jpg");
	height: 500px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
}
.contacto { 
	color:#1A2952;
	font-size: 40px;
	position: absolute;
    top:70px;
} 

.contenido {
    background: url(../img/shoes_1.jpg) no-repeat;
    background-position: right;
    height: 466px;
}
.contenido h2 {
    font-weight: bold;
    position: relative;
    left: 0px;
}
.contenido form {
    width: 52%;
    padding: 20px 0 20px 0px;
}
.contenido label {
    font-size: 26px;
    position: absolute;
}
.contenido input, textarea {
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 40px;
    margin: 7px 0;
}
.contenido textarea {
    min-width: 100%;
    max-width: 100%;
    height: 100px;
}
.contenido .send {
    background: #192951;
    padding: 14px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
.contenido .icono{
	position: relative;
	top:-35px;
	left: 10px;
	width: 20px;
}
.contenido .icono1{
	position: relative;
	top:-105px;
	left: 10px;
	width: 20px;
}




footer {
	max-width: 100%;
	height:100px;
	background-color: #1A2952;
	color:#ededed;
}
/*FOOTER*/

.futer {
	color:#7d8cb0;
	position: absolute;
	top:20px;
	left:-22px;
	width: 269px;

}